<a name="petition"></a>
<fieldset>
	<legend>Petition Form</legend>
	<script type="text/javascript">
 		var RecaptchaOptions = {
		    theme : 'custom',
		    custom_theme_widget: 'recaptcha_widget'
		 };
	</script>
<%= form_for :entry, url: :sign_petition_create do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
	   <ol>
	   <% @entry.errors.full_messages.each do |msg| %>
	     <li><%= msg %></li>
	   <% end %>
	   </ol>
	 </div>
	 <% end %>
	 <% if flash[:notice] != nil %>
	    <div class="notice"><%= flash[:notice] %></div>
	  <% end %>
  <span class="field-row">
	
		<span class="field">
			<span class="field-label">
				<%= f.label :firstname, "First name" %>
			</span>
			<span class="field-value">
				<%= f.text_field :firstname %>
			</span>
		</span>
	
		<span class="field">
			<span class="field-label">
				<%= f.label :lastname, "Last name" %>
			</span>
			<span class="field-value">
				<%= f.text_field :lastname %>
			</span>
		</span>
	
		<span class="field">
			<span class="field-label">
				<%= f.label :email, "Email address" %>
			</span>
			<span class="field-value">
				<%= f.text_field :email %>
			</span>
		</span>
	
		<span class="field">
			<span class="field-label">
				<%= f.label :country %>
			</span>
			<span class="field-value">
				<%= f.text_field :country %>
			</span>
		</span>
  </span>
  <span class="field-row">
	<span class="field">
		<span class="field-label">
			<%= f.label :provincestate, "Province/State (optional)" %>
		</span>
		<span class="field-value">
			<%= f.text_field :provincestate %>
		</span>
	</span>
	
	
	<span class="field">
		<span class="field-label">
		 	<%= f.label :show, "Show your support to the public?" %>
		</span>
		<span class="field-value">
		    <%= f.check_box :show %>
		</span>
	</span>
  </span>
  <span class="field-row">
	<span class="field">
		<span class="field-label">
		 	<%= f.label :comment, "Comment (Optional, 150 characters)" %>
		</span>
		<span class="field-value">
		    <%= f.text_area :comment, cols: 50, rows: 10, class: "comments" %>
		</span>
	</span>
	
	<span class="field">
		<span id="recaptcha_widget" style="display:none">

		   <span id="recaptcha_image"></span>
		   <span class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</span>

		   <span class="field-label recaptcha_only_if_image">Enter the words above:</span>
		   <span class="field-label recaptcha_only_if_audio">Enter the numbers you hear:</span>

		   <span class="field-value">
		     <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
		   </span>

		   <span class="recaptcah_link"><a href="javascript:Recaptcha.reload()">refresh</a>|</span>
		   <span class="recaptcah_link recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">audio</a>|</span>
		   <span class="recaptcah_link recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">image</a>|</span>
		   <span class="recaptcah_link"><a href="javascript:Recaptcha.showhelp()">help</a></span>

		</span>

	 <script type="text/javascript"
	    src="https://www.google.com/recaptcha/api/challenge?k=<%= ENV['PUBLIC_CAPTCHA_KEY'].to_s.gsub(/\s+/, "") %>">
	 </script>
	 <noscript>
	   <iframe src="https://www.google.com/recaptcha/api/noscript?k=<%= ENV['PUBLIC_CAPTCHA_KEY'].to_s.gsub(/\s+/, "") %>"
	        height="300" width="500" frameborder="0"></iframe><br>
	   <textarea name="recaptcha_challenge_field" rows="3" cols="40">
	   </textarea>
	   <input type="hidden" name="recaptcha_response_field"
	        value="manual_challenge">
	 </noscript>
	</span>
	
	<span class="field signed_count">
		<span class="field-label">
		 	<h1 class="main_header"># of Whovians signed</h1>
		</span>
		<span class="field-value">
		    <h2 class="main_header"><%= @petitionCount || 0 %></h2>
		</span>
	</span>
	
  </span>

  <span class="field-row">
	<span class="field">
		<span class="field-button">
 			<%= f.submit "Sign Petition", class: "main_submit" %>
		</span>
	</span>
	
  </span>
  

<% end %>
</fieldset>
<% if @anchor %>
  <script type="text/javascript">
    window.location.hash = "<%= @anchor %>";
  </script>
<% end %>