<!DOCTYPE html>
<html>
<head>
  <title>Bring Back Number 8 | Paul McGann Doctor Who Spinoff Petition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<a name="hero"></a>
<div class="hero-wrapper">
	<img class="hero" src="/bg.jpg" alt="Doctor Who - Bring Back Number 8, #bringbacknumber8"/>
	<img class="hero-iphone-portrait" src="/iphonebg.jpg" alt="Doctor Who - Bring Back Number 8, #bringbacknumber8"/>
	<a href="#petition" class="main-down"><img src="/darrow.png" alt="down"/></a>
</div>

<%= yield %>
<div class="footer">M-Agency &copy; <%= Time.now.year%></div>
</body>
</html>
