<!DOCTYPE html>
<html>
<head>
  <title>Bring Back Number 8 | Paul McGann Doctor Who Spinoff Petition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<a name="hero"></a>
<div class="hero-wrapper">
<a class="twitter-link" href="http://www.twitter.com/share?url=www.bringbacknumber8.com&text=Sign+the+Paul+McGann+Doctor+Who Spinoff+Petition+%23bringbacknumber8" target="_new" title="Share on Twitter">#bringbacknumber8</a>
	
	<a href="/"><%= image_tag("bg.jpg",  alt: "Doctor Who - Bring Back Number 8 Paul McGann Spinoff Petition, #bringbacknumber8", class: "hero") %>
	<%= image_tag("iphonebg.jpg", alt: "Doctor Who - Bring Back Number 8 Paul McGann Spinoff Petition, #bringbacknumber8", class: "hero-iphone-portrait")%>
</a>
	<a href="#petition" class="main-down"><%= image_tag("darrow.png", alt: "down")%></a>
</div>

<%= yield %>
<div class="footer">Real Orange &copy; <%= Time.now.year%></div>
</body>
</html>
