<!DOCTYPE html>
<html>
<head>
  <title>Bring Back Number 8 | Paul McGann Doctor Who Spinoff Petition</title>
<meta name="description" content="Bring Back Number 8 | Paul McGann Doctor Who Spinoff Petition">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<a name="hero"></a>
<div class="hero-wrapper">
	<ul>
		<% @randomComments.each do |entry| %>
			<li><%= entry.comment %></li>
		<% end %>
	</ul>
<a class="twitter-link" href="http://www.twitter.com/share?url=www.bringbacknumber8.com&text=Sign+the+Paul+McGann+Doctor+Who Spinoff+Petition+%23bringbacknumber8" target="_new" title="Share on Twitter">#bringbacknumber8</a>
	
	<a href="/"><%= image_tag("bg.jpg",  alt: "Doctor Who - Bring Back Number 8 Paul McGann Spinoff Petition, #bringbacknumber8", class: "hero") %>
	<%= image_tag("iphonebg.jpg", alt: "Doctor Who - Bring Back Number 8 Paul McGann Spinoff Petition, #bringbacknumber8", class: "hero-iphone-portrait")%>
</a>
	<a href="#writeup" class="main-down"><%= image_tag("darrow.png", alt: "down")%></a>
</div>
<div class="writeup">
<a name="writeup"></a>
<p>	It takes all kinds to make up the Doctor, not the least of which is that of Paul McGann. Known for his role as “Number 8”, McGann made his debut as the Doctor in the 1996 TV film “Doctor Who”. McGann captivated fans in what would soon be his only TV appearance. Although weak in story, his performance remained brilliant and cherished by fans of old and new.</p>

<p>Reprising his role in the 2013 webisode “The Night of the Doctor” once again left his fans wanting more. It was apparent that audio spin-offs were no longer enough and fans took to the internet creating online petitions for a TV spin-off. Some petitions endured mild to moderate success and managed to get the support of Paul himself. The results have been less than satisfying and so began the “Bring Back Number 8” project. 
</p>
<p>
The idea was simple: build a single dedicated marketable site to support the cause. Accessible via social media, desktops, tablets and other mobile devices, “Bring Back Number 8” aims to raise awareness on a viral scale.
</p>
<p>
So it is time once again, for you the fans, to show your support. Sign the petition and spread the word! Tell your friends, tell your family or tell your friends’ family. Tweet it, share it, text it, email it, or do whatever you can, for we will not rest until we finally “<a href="#petition">Bring Back Number 8</a>”!
</p>
</div>
<%= yield %>
<div class="footer"><a href="https://twitter.com/intent/tweet?button_hashtag=bringbacknumber8&text=Sign%20the%20Paul%20McGann%20Doctor%20Who%20Spinoff%20Petition" class="twitter-hashtag-button" data-size="large">Tweet #bringbacknumber8</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.bringbacknumber8.com%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=1432907573645916" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe></div>
</body>
</html>
